{% load static %}
{% load bootstrap_icons %}

<footer class="border-top">
    <div class="container py-5">
        <div class="row gy-4">
            <div class="col-12 col-md-4">
                <div class="bg-secondary py-5">

                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="bg-secondary py-5">

                </div>
            </div>
            <div class="col-12 col-md-4 text-md-end">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        {% bs_icon 'linkedin' %}
                    </li>
                    <li class="list-inline-item">
                        {% bs_icon 'instagram' %}
                    </li>
                    <li class="list-inline-item">
                        {% bs_icon 'facebook' %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>