.service-card:hover {
    transform: scale(1.045);
    cursor: pointer;
    transition: 0.5s ease;
    /* transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); */
}